body{
    padding: 0px;
    margin : 0px;
}
#form{
    background-color: #FFF;
    padding: 10px 14px;
}
#map{
    width : 83%;
    height: 100%;
    float : left;  
    background-color: #868889;  
}
#bcont{
    background-color: #FFF;
    padding: 0px 14px;
}
#formcont{
    width: 17%;
    float: left;  
}
#guardar{
    width : 190px;
    color : white;
    cursor: pointer;
    float : left;
    font-size: 15px;
    border-radius: 6px;
    text-transform: capitalize;
    background-color: #006AA6;
}
input {
    text-transform: uppercase;
}
div {
    margin: 0px;
    text-transform: uppercase; 
}

#gf_buscar {
    width: 210px;
    height: 35px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
    text-transform: capitalize;
    background-color: #006AA6;
}