.PortletHeaderColor { background-color: #CC9933; } 
.RegionNoBorder{} 
.RegionBorder { border: #CC9933 1px solid } 
.PageColor { background-color: #FFFFFF; } 
.PageBgImage { } 
.PageBg { background-color: #FFFFFF; } 
.LeftCurve { background-image: url(../images/FFFFFFl.gif); background-repeat: no-repeat; background-position: left top; background-attachment: scroll;height: 25px; } 
.RightCurve{ background-image: url(../images/FFFFFFr.gif); background-repeat: no-repeat; background-position: right top; background-attachment: scroll; height: 25px; } 
.PortletBodyColor { background-color: #FFFFFF; } 
.RegionHeaderColor { background-color: #FFFFFF; border: #CC9933 0px solid } 
.PortletSubheaderColor { background-color: #E8E4B7; } 
.PortletHeaderText { font-family: Arial, Helvetica; font-size: 10pt; color: #FFFFFF; font-weight: bold ; } 
.PortletHeaderLink { font-family: Arial, Helvetica; font-size: 7pt; color: #FFFFFF; } 
.PortletSubHeaderText { font-family: Arial, Helvetica; font-size: 9pt; color: #FFFFFF; font-weight: bold ;} 
.PortletSubHeaderLink { font-family: Arial, Helvetica; font-size: 7pt; color: #FFFFFF; } 
.PortletHeading1 { font-family: Arial, Helvetica; font-size: 10pt; color: #000000; font-weight: bold ; } 
.PortletText1 { font-family: Arial, Helvetica; font-size: 10pt; color: #006699; font-weight: bold ; } 
.PortletHeading2 { font-family: Arial, Helvetica; font-size: 9pt; color: #000000; font-weight: bold ; } 
.PortletText2 { font-family: Arial, Helvetica; font-size: 9pt; color: #006699; font-weight: bold ; } 
.PortletHeading3 { font-family: Arial, Helvetica; font-size: 8pt; color: #000000; font-weight: bold ; } 
.PortletText3 { font-family: Arial, Helvetica; font-size: 8pt; color: #006699; font-weight: bold ; }
.PortletHeading4 { font-family: Arial, Helvetica; font-size: 7pt; color: #000000; font-weight: bold ; } 
.PortletText4 { font-family: Arial, Helvetica; font-size: 7pt; color: #006699; font-weight: bold ; } 
.BannerColor { background-color: #FFFFFF; } 
.BannerGreeting { font-family: Arial, Helvetica; font-size: 16pt; color: #CC9933; } 
.BannerTitle { font-family: Arial, Helvetica; font-size: 20pt; color: #CC9933; font-weight: bold ; } 
.BannerLink { font-family: Arial, Helvetica; font-size: 8pt; color: #CC9933; } 
.BannerLinkBold { font-family: Arial, Helvetica; font-size: 8pt; color: #CC9933; font-weight: bold ; } 
.BannerSecondaryLink { font-family: Arial, Helvetica; font-size: 8pt; color: #CC9933; } 
.BannerSecondaryText { font-family: Arial, Helvetica; font-size: 8pt; color: #000000; } 
.TabForegroundColor { background-color: #E8E4B7; } 
.TabForegroundText { font-family: Helvetica; font-size: 9pt; color: #CC6633; font-weight: bold ; } 
.TabBackgroundColor { background-color: #9F9861; }
.MenuSelected { font-family: Arial, Helvetica; font-size: 8pt; color: #9F9861;font-weight: bold ; }
.TabBackgroundText { font-family: Verdana; font-size: 9pt; color: #FFFFFF; text-decoration: none; }
.SubTabBgText{ font-family: Verdana; font-size: 10pt; color: #9F9861; font-weight: bold ; text-decoration: none; } 
.LeftTabBgSlant { background-image: url(../images/FFFFFFtl.gif); background-repeat: no-repeat; background-position: left top; background-attachment: scroll; background-color: #9F9861; } 
.LeftTabForeSlant { background-image: url(../images/FFFFFFtl.gif); background-repeat: no-repeat; background-position: left top; background-attachment: scroll; background-color: #E8E4B7; } 
.LeftSubTab { background-image: url(../images/FFFFFFsl.gif); background-repeat: no-repeat; background-position: left top; background-attachment: scroll; background-color: #E8E4B7; } 
.RightTabBgCurve{ background-image: url(../images/FFFFFFtr.gif); background-repeat: no-repeat; background-position: right top; background-attachment: scroll; background-color: #9F9861; } 
.RightTabForeCurve{ background-image: url(../images/FFFFFFtr.gif); background-repeat: no-repeat; background-position: right top; background-attachment: scroll; background-color: #E8E4B7; }
.RightSubTab{ background-image: url(../images/FFFFFFsr.gif); background-repeat: no-repeat; background-position: right top; background-attachment: scroll; background-color: #E8E4B7; }
.SectionTitleWithBorder{ font-family: Arial, Helvetica; font-size: 8pt; color: #FFFFFF; ;font-weight: bold ;   background-color: #9F9861; border: #CC9933 1px solid;}
.SectionTitle{ font-family: Arial, Helvetica; font-size: 8pt; color: #FFFFFF; ;font-weight: bold ;   background-color: #9F9861; }
.SectionTitleLeftCurve{background-image: url(../images/FFFFFFrt.gif); background-repeat: no-repeat; background-position: left top; background-attachment: scroll; background-color: #9F9861;  height: 22px;}
.SectionTitleRightCurve{ background-image: url(../images/FFFFFFtr.gif); background-repeat: no-repeat; background-position: right top; background-attachment: scroll; background-color: #9F9861; height: 22px;  }
.PageLinks { font-family: Arial, Helvetica; font-size: 8pt; color: #006699; font-weight: lighter; }
.CellHeader{ font-family: Arial, Helvetica; font-size: 8pt; color: #000000; font-weight: bold ;  background-color: #e8e4b7;}
.CellLabel{ 
    background-color: #E8E4B7;
    color: #000000;
    font-family: Arial,Helvetica;
    font-size: 8pt;
    font-weight: bold;
    padding: 3px 5px;
}
.CellContent{ 
    background-color: #F5F5EB;
    color: #000000;
    font-family: Arial,Helvetica;
    font-size: 8pt;
    font-weight: normal;
    padding: 3px 5px;
}
.CellLabelContent{ font-family: Arial, Helvetica; font-size: 8pt; color: #000000; font-weight: normal;  background-color: #e8e4b7;}
.CriteriaLabel{ font-family: Arial, Helvetica; font-size: 8pt; color: #CC6633; font-weight: bold;  background-color: #F5F5EB;}
.TemplateLabelRenov{ font-family: Arial, Helvetica; font-size: 7.9pt; color: #FF0000; background-color: #F5F5EB;}
.TemplateLabelNew{ font-family: Arial, Helvetica; font-size: 7.9pt; color: #000000; background-color: #F5F5EB;}
.ListRow0{ font-family: Arial, Helvetica; font-size: 8pt; color: #000000; font-weight: normal;  background-color: #E8E4B7;}
.ListRow1{ font-family: Arial, Helvetica; font-size: 8pt; color: #000000; font-weight: normal;  background-color: #F5F5EB;}
.ListRow3{ font-family: Arial, Helvetica; font-size: 8pt; color: #A01414; font-weight: normal;  background-color: #F5F5EB;}
.SubSectionTitle { background-color: #C1BD8D; font-family: Arial, Helvetica; font-size: 9pt; color: #FFFFFF; font-weight: bold ; } 
.SubSectionTitleLeftCurve{ background-image: url(../images/SubSectionTitleLeftCurve.gif); background-repeat: no-repeat; background-position: left top; background-attachment: scroll; background-color: #C1BD8D; } 
.SubSectionTitleRightCurve{ background-image: url(../images/SubSectionTitleRightCurve.gif); background-repeat: no-repeat; background-position: right top; background-attachment: scroll; background-color: #C1BD8D; } 
.Underline{ background-image: url(images/linea.gif); background-position : bottom;  background-repeat : repeat-x;   } 
.CellNbg{ font-family: Arial, Helvetica; font-size: 8pt; color: #000000; font-weight: bold;}
.ItemMenu {font-family: Arial, Helvetica; font-size: 8pt; font-weight: bold ; }

.TextBlack08 {FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica}
.TextBlack09 {FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica}
.TextBlackBold08 {FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica}
.TextBlackBold09 {FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica}

.Text07 {FONT-WEIGHT: normal; FONT-SIZE: 7.5pt; FONT-FAMILY: Arial, Helvetica}
.Text08 {FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica}
.Text09 {FONT-WEIGHT: normal; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica}

A:ACTIVE {  color : Red;;text-decoration: blink;}
A:HOVER {   color : Red;}
A:LINK { color : #006699;}
A:VISITED { color : #006699;}
INPUT { font-family: Arial, Helvetica; font-size: 8pt; }
INPUT.right {text-align: right}
SELECT { font-family: Arial, Helvetica; font-size: 8pt; }
OPTION { font-family: Arial, Helvetica; font-size: 8pt; }
TEXTAREA { font-family: Arial, Helvetica; font-size: 8pt; }
.Error{ font-family: Arial, Helvetica; font-size: 8pt; color: #000000; font-weight: bold ;}
.Required{ font-family: Arial, Helvetica; font-size: 8pt; color: Red; font-weight: normal;  background-color: #e8e4b7;}
.Principal{ font-family: Arial, Helvetica; font-size: 8pt; color: Red; font-weight: bold;}
.CellBasic { font-family: Arial, Helvetica; font-size: 8pt; color: #000000; } 
.ver { visibility:visible; }
.ocultar { visibility:hidden; }
.show   { display:inline}
.hidden { display:none }

.tablaMarco{
  border-collapse:collapse;  
}

.tablaMarcotheadth{
  background-color: #CC9933;
}
.tablaMarcotbody{
  background-color: #F5F5EB;  
  border: #CC9933 1px solid;
  padding:5px;
}
.tituloMarco{
  font-family: Arial, Helvetica;
  font-size: 10pt; 
  color: #FFFFFF; 
  font-weight: bold ;
  
}

.subTablaMarco{
  border-collapse:collapse;
}
.subTablaMarcotheadth{
  background-color: #9F9861;
}
.tituloSubMarco{
  font-family: Arial, Helvetica;
  font-size: 10pt; 
  color: #FFFFFF; 
  font-weight: bold ;
  
}

.divFlotante{
	background-image: url(../images/bgdivflo2.png);	
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	text-align:center;
}

.divBordeNaranja{
	border: 1px solid #CC9933;	
}

.divBoton{
	text-align: center; 
	margin-top: 10px; 
	margin-bottom: 10px;
}

.orders thead tr th {
    font-weight: bold;
    padding: 2px 4px  ;
    text-align: center;
    vertical-align: top;
}



/*
  * Estilo para un error de formulario.
  */
form .error{
	color: #c00;
	}

 /*
  * Estilo para mostrar error en una etiqueta.
  */
form label.error{
	color: #CD0A0A;
	
	font-size: 10px;	
	font-variant:normal;
		
	margin:2px 0px 0px 0px;
	padding:4px 0px 0px 4px;	
	float: left;
	clear:both;
}

 /*
  * Estilo para mostrar un mensaje en una etiqueta.
  */
form label.info{
	font-size: 10px;	
	font-variant:normal;
	
	margin:2px 0px 0px 0px;
	padding:4px 0px 0px 4px;
}

 /*
  * Estilo error de seleccion.
  */
input.error, select.error{
	/*border: 1px solid;*/
	background-color: #FFFFCC;
	margin: 0px;
	color: #BC0000;
}